* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    padding: 43px 0;
    margin: 0 auto;
}
.site-header {
    width: 1280px;
    margin: 0 80px;
}
.sitenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sitenav__link--img {
    width: 236px;
    height: 26px;
}
.sitenav__list {
    display: flex;
}
.sitenav__list--item:not(:last-child) {
    margin-right: 32px;
}
.sitenav__list--item {
    list-style: none;
    font-size: 12px;
}
.sitenav__list__item--link:hover {
    color: black;
}
.sitenav__list__item--link {
    text-decoration: none;
    color: #83888F;
    font-weight: 700;
}
.lab {
    display: flex;
}
.fa-bars {
    visibility: hidden;
}
.check {
    display: none;
}
.site-list__hero {
    width: 1280px;
    height: 600px;
    background-image: url('../img/Bitmap\ \(2\).png');
    background-size: cover;
    margin-top: 45px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.hero-list {
    margin-left: 86px;
}
.hero-list__tittle {
    line-height: 72px;
    font-size: 72px;
    color: #FEFCF7;
    font-weight: 900;
}
.hero-list__text {
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    margin-bottom: 72px;
    color: #FEFCF7;
}
.hero-list__link {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FEFCF7;
    background: #0E8784;
    padding: 15px 31px;
    border-radius: 6px;
}

@media only screen and ( max-width : 769px) {
    .container {
        width: 769px;
        margin: 0 auto;
    }
    .site-header {
        width: 689px;
        margin: 0 auto;
    }
    .site-list__hero {
        width: 689px;
        height: 500px;
        margin-top: 54px;
    }
    .hero-list {
        margin-left: 56px;
        width: 398px;
        height: 292px;
    }
    .hero-list__tittle {
        font-size: 48px;
        line-height: 48px;
    }
    .hero-list__text {
        margin-top: 24px;
        margin-bottom: 55px;
    }
    .site-list__hero {
        background-image: url('../img/planshet.jpg');
    }
}
@media only screen and ( max-width : 375px) {
    .container {
        width: 375px;
        margin: 0 auto;
    }
    .lab {
        display: flex;
        position: relative;
    }
    .check {
        visibility: hidden;
    }
    .check:checked~ .sitenav__list {
        opacity: 1;
    }
    .fa-bars {
    visibility: visible;
    position: absolute;
    right: 0;
    top: -20px;
    }
    .site-header {
        width: 327px;
        margin: 0 auto;
    }
    .hero-list {
        text-align: center;
        width: 279px;
        margin: 0 24px;
    }
    .sitenav {
        display: block;
        flex-wrap: wrap;
    }
    .sitenav__list {
        width: 327px;
        height: 200px;
        background-color: #0E8784;
        border-radius: 15px;
        box-shadow: 0 0 10px 2px #76adaa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px auto 0;
        opacity: 0;
        transition: all 1s ;
        z-index: 1;
        text-shadow: 0 0 4px 1px black;
    }
    .sitenav__list__item--link {
        font-size: 18px;
        color: #feffff;
        font-weight: 900;
        line-height: 32px;
    }
    .sitenav__list--item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .site-list__hero {
        margin-top: 41px;
        width: 327px;
        height: 500px;
        background-image: url('../img/2121.jpg');
    }
    .hero-list__tittle {
        font-size: 40px;
        line-height: 40px;
        width: 279px;
    }
    .hero-list__text {
        width: 279px;
        opacity: 80%;
        font-size: 15px;
        line-height: 25px;
    }
    .site-header {
        position: relative;
    }
    .site-list__hero {
        position: absolute;
        top: 30px;
        
    }
}
